<div class="container__big-card">
  <div class="big-card__photo">
      <img 
        src="https://img.r7.com/images/tecnologia-tecnologico-tec-emprego-curso-13122022131511653?dimensions=677x369" 
        alt=""
        height="350px" 
      >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sunt placeat beatae.
      Eius nesciunt at aliquam, ipsum molestias, pariatur saepe natus impedit corporis quae 
      inventore recusandae illo nostrum magni id.
      </a>
    </p>
  </div>

</div>